@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Surface Colors */
  .bg-surface-bg {
    @apply bg-surface-light-bg dark:bg-surface-dark-bg;
  }

  .bg-surface-soft {
    @apply bg-surface-light-soft dark:bg-surface-dark-soft;
  }

  .bg-surface-medium {
    @apply bg-surface-light-medium dark:bg-surface-dark-medium;
  }

  .bg-surface-hard {
    @apply bg-surface-light-hard dark:bg-surface-dark-hard;
  }

  .bg-surface-border {
    @apply bg-surface-light-border dark:bg-surface-dark-border;
  }

  .bg-surface-secondary-medium {
    @apply bg-surface-light-secondaryMedium dark:bg-surface-dark-secondaryMedium;
  }

  .bg-surface-green {
    @apply bg-surface-light-green dark:bg-surface-dark-green;
  }

  .bg-surface-leaf-green {
    @apply bg-surface-light-leafGreen dark:bg-surface-dark-leafGreen;
  }

  .bg-surface-blue {
    @apply bg-surface-light-blue dark:bg-surface-dark-blue;
  }

  /* Text and Element Colors */
  .text-primary {
    @apply text-textAndElements-light-primary dark:text-textAndElements-dark-primary;
  }

  .text-secondary {
    @apply text-textAndElements-light-secondary dark:text-textAndElements-dark-secondary;
  }

  .text-tertiary {
    @apply text-textAndElements-light-tertiary dark:text-textAndElements-dark-tertiary;
  }

  .text-disable {
    @apply text-textAndElements-light-disable dark:text-textAndElements-dark-disable;
  }

  .text-primary-button {
    @apply text-surface-light-bg dark:text-textAndElements-light-primaryButton;
  }

  .bg-primary-button {
    @apply bg-textAndElements-light-primaryButton dark:bg-textAndElements-dark-primaryButton;
  }

  .border-primary {
    @apply border-surface-light-border dark:border-surface-dark-border;
  }

  .bg-theme-box {
    @apply bg-surface-light-soft dark:bg-surface-dark-hard;
  }

  .bg-active-box {
    @apply bg-surface-light-bg dark:bg-surface-dark-blackCow;
  }
}

.loading-state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ADADAD;
  border-top-color: #DAFF00;
  animation: loading 1s linear infinite;
}

.body-no-scroll {
  overflow: hidden;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}